.books_container {
  display: flex;                
  flex-wrap: wrap;              
  gap: 15px;                    
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}


.book_card {
  width: 180px;
  height: 250px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.book_card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.3);
}

.book_cover {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.book_title {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;            
  text-overflow: ellipsis;
  white-space: normal;          
  word-break: break-word;       
}


.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 15px;
  overflow-y: auto;
  animation: fadeIn 0.3s ease;
}

.modal_content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  width: 20%;
  text-align: left;
  position: relative;
  animation: slideUp 0.3s ease;
}

.modal_cover {
  width: 100%;
  height: 80%;
  border-radius: 6px;
  margin-bottom: 15px;
}

.modal_content h2 {
  margin-top: 0;
  font-size: 18px;
  color: #222;
}

.modal_content p {
  font-size: 14px;
  color: #555;
  margin: 6px 0;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}


@media (max-width: 600px) {
 .book_card {
    width: 170px;
    height: 230px;
  }

  .book_card:hover {
    transform: scale(1.05);
  }

  .book_cover {
    height: 140px;
  }

  .book_title {
    font-size: 12px;
  }

  .book_details {
    font-size: 11px;
  }

  .modal_overlay{
    width: 100%;
  }

  .modal_content{
    width: 60%;
  }
}

