.search_input {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.search_input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search_bar {
    display: flex;
    top: 10px;
    justify-content: center;
    border-width: 0;
}

.header {
    background-color: #d0e1ff;
    height: 120px;
    padding-top: 20px;
    position: relative;
}

.header_title {
    position: absolute;
    margin-top: 0px;
    margin-left: 110px;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

@media (max-width: 600px) {
    .search_input {
        width: 70%;
        border-radius: 50px;
    }

    .header{
        background-color: #d0e1ff;
        height:120px;
        padding-top: 10px;
    }


.search_input{
    padding: 10px;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
}

    .header_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}